*{
    transition: 1s all;
}

 ul li {
    list-style-type: none;
    display: inline;
    margin: 80px;
}

.btn{
    text-align: center;
}

.btn input{
    margin: 15px;
}

#search{
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
}

#saveBtn{
    border-radius: 50px;
    height: 30px;
    width: 100px;
    background: #084e8d;
    outline: none;
    border: none;
    color: white;
}

#saveBtn:hover {
    background: #052140;
}